.header-container {
  display: flex;
  width: 100%;
  height: 50px; /* เต็มหน้าจอแนวตั้ง */
}

/* ส่วนฝั่งซ้าย */
.header-left {
  flex: 1;                     /* กินพื้นที่ครึ่งหนึ่งของหน้าจอ */
  background-color: #dc2626;   /* สีแดง */
  color: white;
  display: flex;
  justify-content: center;     /* จัดให้อยู่กลางแนวนอน */
  align-items: flex-start;     /* อยู่บนสุดของพื้นที่ */
}

.header-left h1,.header-right h1  {
  margin-top: 5px;            /* เว้นจากขอบบนเล็กน้อย */
  font-size: 3rem;
  font-weight: bold;
}

/* ส่วนฝั่งขวา */
.header-right {
  flex: 1;
  background-color: #2563eb;   /* สีน้ำเงิน */
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

